@use '../../../../styles/_variables' as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  z-index: 1000;
}

.modal-content {
  position: relative;
  top: 250px;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 24px;
  height: 56px;
  background: $white;
  border: 0.5px solid $red;
  font-size: 12px;
  font-weight: 300;
}

.modal-close-btn {
  cursor: pointer;
  color: $black;
}

@media (min-width: 834px) {
  .modal-overlay {
    padding: 0 40px;
  }
}

@media (min-width: 1920px) {
  .modal-overlay {
    padding: 0 100px;
  }
}
